/* While all of the code used in this file has been typed by the author, it is heavily influenced by a hybrid of designs from the following developers:
    Kyle from Web Dev Simplified using https://www.youtube.com/watch?v=Y-GkMjUZsmM&t=939s - index.html.old and script.js.old
    Ania Kubów from https://youtu.be/DRaWr0Dcbl0 - index.html.old and script.js.old
    Bro Code from https://youtu.be/AnmwHjpEhtA 
    Coding with Adam from https://www.youtube.com/watch?v=fPew9OI2PnA&t=1906s
    Adam Khoury from https://www.youtube.com/watch?v=hsSXzdn_0Gg - how to toggleMute in JS
    While some code just has to be the same, all Variable names, CSS names and Function names have been changed.  The design is fundamentally the same as Coding with Adam, with additional features such as the Mute/Unmute Audio button.  The .wav sounds are downloaded from CodingWithAdam channel, but were renamed before upload and are called by different names in JS.
    The Favicon comes from https://icon-icons.com/icon/tic-tac-toe/39453 but was resized, renamed and recolored before being uploaded.*/
    
/* Document default properties */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #79A749;
    font-family: 'Varela', sans-serif;;
}

/* h1 font-size 4rem changes to 3.5rem with media queries */
h1 {
    font-size: 4rem;
    color: currentColor;
    margin-top: 10px;
    margin-bottom: 2px;
}

#game-score-area {
    display: flex;
}

#game-score-d,
#game-score-x,
#game-score-o {
    padding: 10px 25px;
    margin: 1px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#game-score {
    padding: 15px;
}

/* Create a 3 x 100px by 3 x 100 px grid gameBoard with a style of Permanent MArker */
.gameBoard {
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
}

/* sets a min-size for the cells and makes the contents align and justify center */
.cell {
    min-width: 100px;
    min-height: 100px;
    color: currentColor;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Used to add a right border to col 1 and col 2 of the grid */
.right-border {
    border-right: 0.2rem solid #fbfaf8;
}

/* Used to add a bottom border to row 1 and row 2 of the grid */
.bottom-border {
    border-bottom: 0.2rem solid #fbfaf8;
}

/* Used to add a strike placeholder to a div, which will be used if a player gets 3 in a row */
.strike {
    position: absolute;
    background-color: #fbfaf8;
}

/* Javascrip adds this class to the strike div if there are three identical cell contents in row 1 */
.strike-row-1 {
    width: 100%;
    height: 3px;
    top: 17%;
}

/* Javascrip adds this class to the strike div if there are three identical cell contents in row 2 */
.strike-row-2 {
    width: 100%;
    height: 3px;
    top: 50%;
}

/* Javascrip adds this class to the strike div if there are three identical cell contents in row 3 */
.strike-row-3 {
    width: 100%;
    height: 3px;
    bottom: 16%;
}

/* Javascrip adds this class to the strike div if there are three identical cell contents in col 1 */
.strike-col-1 {
    height: 100%;
    width: 3px;
    left: 17%;
}

/* Javascrip adds this class to the strike div if there are three identical cell contents in col 2 */
.strike-col-2 {
    height: 100%;
    width: 3px;
    left: 50%;
}

/* Javascrip adds this class to the strike div if there are three identical cell contents in col 3 */
.strike-col-3 {
    height: 100%;
    width: 3px;
    right: 15%;
}

/* Javascrip adds this class to the strike div if there are three identical cell contents in the diagonal from the top right cell to the bottom left cell (row1col3: row3col1) */
.strike-diagonal-1 {
    width: 100%;
    height: 4px;
    top: 50%;
    transform: skewY(-45deg);
}

/* Javascrip adds this class to the strike div if there are three identical cell contents in the diagonal from the top left cell to the bottom right cell (row1col1: row3col3) */
.strike-diagonal-2 {
    width: 100%;
    height: 4px;
    top: 50%;
    transform: skewY(45deg);
}

/* Javascrip adds this class to the strike div if there are three identical cell contents in the diagonal from the top right cell to the bottom left cell (row1col3: row3col1).  The div defaults to a class of .hide but changes to .show when the game is over*/
#game-messages {
    text-align: center;
    border: #fbfaf8 4px solid;
    padding: 20px;
    margin-top: 30px;
}

/* Javascrip uses this h2 for resultText messages indicating if its a Win or a Draw */
h2 {
    color: currentColor;
    font-size: 3rem;
}

/* The button is within the #game-message div and only shows when the game is over.  Javascript resets the .gameBoard and sertarts the game when this button is clicked */
#restart-button {
    color: black;
    border: #fbfaf8 1px solid;
    padding: 10px;
    font-size: 1.5em;
}

/* This is the default class for #game-message.  Javascript reapplies this class when the game restarts */
.hide {
    display: none;
}

/* Javascript applies this class when the game is over.  It displays the result and a restart button */
.show {
    display: block;
}

/* Javascript applies this class when it is Xs turn and it hovers over an empty cell */
.x-hover:hover::after {
    content: "X";
    opacity: 0.4;
}

/* Javascript applies this class when it is Os turn and it hovers over an empty cell */
.o-hover:hover::after {
    content: "O";
    opacity: 0.4;
}

/* gameOverSound and clickSound buttons.  Controled by JavaScript mute function.  */
button#mute-button, 
button#unmute-button,
button#open-modal, 
button#close-modal,
button#number-of-players-one, 
button#number-of-players-two {
    border-style: none;
    cursor: pointer;
    outline: white;
    color: black;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 1px;
    height: 50px;
    width: 50px;
    cursor: pointer; 
}

/* mute image applied to sound button when the sound is muted */
#mute-button {
    background: no-repeat url("../images/mute.png");  
}

/* unmute image applied to sound button when the sound is unmuted */
#unmute-button {
    background: no-repeat url("../images/unmute.png");
}

/* #number-of-players,  */
#number-of-players-one {
    background: no-repeat url("../images/one-player-green-50px.png");
}


#number-of-players-two {
    background: no-repeat url("../images/two-player-green-50px.png");
}

/* Modal */

#modal {
    font-family: 'Varela', sans-serif;
    position: absolute;
    z-index: 10000;
    background: black;
    width: 100%;
    height: 100%;
    color: currentColor;
    margin-top: 100px;
    text-align: center;
    padding: 15px;
    margin-top: -10px;
    opacity: .9;
}

#open-modal {
    background: no-repeat url("../images/instructions-50px.png");
}

#close-modal {
    background: no-repeat url("../images/close-button-50px.png");
}

.instructions {
    font-size: large;
    padding-left: 15%;
    padding-right: 15%;
}

a {
    color: #79A749;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

/* Media Queries */
/* to prevent the screen rotating from portrait to landscape 
Source: https://css-tricks.com/snippets/css/orientation-lock/ */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

/* To facilitate when the primary input mechanism includes a pointing device of limited accuracy,
such as a finger on a touchscreen. */
@media (pointer: coarse) {}

/* h1, h2, padding, margin and font-size changes @ 379px */
@media only screen and (max-width: 379px) {
    h1, h2 {
        font-size: 2.5rem;
        color: currentColor;
        margin: 5px;
    }

    #game-messages {
        padding: 5px;
        margin-top: 5px;
    }

    #restart-button {
        padding: 5px;
        font-size: 1em;
    }
}

